html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    image-rendering: pixelated;
}

body {
    --tile-size: 96px;
    --n-tile-size: calc(-1 * var(--tile-size));
    --char-size: calc(var(--tile-size) / 2);
    --n-char-size: calc(-1 * var(--char-size));
}

#game {
    position: relative;
}

#characters {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--tile-size) * 7);
    height: calc(var(--tile-size) * 7);
}

#characters div.character {
    --pos-x: 0;
    --pos-y: 0;
    position: absolute;
    width: var(--char-size);
    height: var(--char-size);
    top: calc(( var(--pos-y) + 0.25 ) * var(--tile-size));
    left: calc(( var(--pos-x) + 0.25 ) * var(--tile-size));

    --tile-x: 0;
    --tile-y: 0;
    background-position: calc(var(--tile-x) * var(--n-char-size)) calc(var(--tile-y) * var(--n-char-size));
    background-repeat: no-repeat;
}

#characters div.player {
    z-index: 1;
    background-image: url("Player.png");
    background-size: 500%;
    transition-property: top, left;
    transition-duration: .1s;
}

#characters div.player.right {
    --tile-x: 1;
}

#characters div.player.left {
    --tile-x: 2;
}

#characters div.player.down {
    --tile-x: 3;
}

#characters div.player.up {
    --tile-x: 4;
}

#characters div.item {
    background-image: url("Items.png");
    background-size: 800%;
    --tile-y: 1;
}

#characters div.item.heart {
    --tile-x: 4;
}

#characters div.item.sword {
    --tile-x: 5;
}

#characters div.item.shield {
    --tile-x: 6;
}

#characters div.item.coin {
    --tile-x: 7;
}

#hud {
    position: absolute;
    top: 0;
    left: calc(var(--tile-size) * 7);
    width: calc(var(--char-size) * 7);
    height: calc(var(--tile-size) * 7);
}

#hud div.hudItem {
    display: inline-block;
    width: var(--char-size);
    height: var(--char-size);

    background-image: url("Items.png");
    background-size: 800%;

    --tile-x: 0;
    --tile-y: 0;
    background-position: calc(var(--tile-x) * var(--n-char-size)) calc(var(--tile-y) * var(--n-char-size));
    background-repeat: no-repeat;
}

#hud div.hudItem.heart {
    --tile-x: 1;
    --tile-y: 0;
}

#hud div.hudItem.heart.empty {
    --tile-x: 0;
    --tile-y: 0;
}

#hud div.hudItem.coin {
    --tile-x: 3;
    --tile-y: 0;
}

#hud div.hudItem.coin.empty {
    --tile-x: 2;
    --tile-y: 0;
}

#hud div.hudItem.sword {
    --tile-x: 5;
    --tile-y: 0;
}

#hud div.hudItem.sword.empty {
    --tile-x: 4;
    --tile-y: 0;
}

#hud div.hudItem.shield {
    --tile-x: 7;
    --tile-y: 0;
}

#hud div.hudItem.shield.empty {
    --tile-x: 6;
    --tile-y: 0;
}

#table {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--tile-size) * 7);
    height: calc(var(--tile-size) * 7);

    border-spacing: 0;
    border-collapse: collapse;
}

#table td {
    background-color: black;
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: 400%;
    width: var(--tile-size);
    height: var(--tile-size);
    margin: 0;
    padding: 0;
    --tile-x: 0;
    --tile-y: 0;
    background-position: calc(var(--tile-x) * var(--n-tile-size)) calc(var(--tile-y) * var(--n-tile-size));
}

#table td.w {
    --tile-x: 1;
    --tile-y: 0;
}

#table td.n {
    --tile-x: 2;
    --tile-y: 0;
}

#table td.e {
    --tile-x: 3;
    --tile-y: 0;
}

#table td.s {
    --tile-x: 0;
    --tile-y: 1;
}

#table td.e.w {
    --tile-x: 1;
    --tile-y: 1;
}

#table td.n.s {
    --tile-x: 2;
    --tile-y: 1;
}

#table td.w.s {
    --tile-x: 3;
    --tile-y: 1;
}

#table td.w.n {
    --tile-x: 0;
    --tile-y: 2;
}

#table td.e.n {
    --tile-x: 1;
    --tile-y: 2;
}

#table td.e.s {
    --tile-x: 2;
    --tile-y: 2;
}

#table td.w.n.s {
    --tile-x: 3;
    --tile-y: 2;
}

#table td.e.w.n {
    --tile-x: 0;
    --tile-y: 3;
}

#table td.e.n.s {
    --tile-x: 1;
    --tile-y: 3;
}

#table td.e.w.s {
    --tile-x: 2;
    --tile-y: 3;
}

#table td.e.w.n.s {
    --tile-x: 3;
    --tile-y: 3;
}