html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}

body {
    --tile-size: 96px;
    --n-tile-size: calc(-1 * var(--tile-size));
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    background-color: black;
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: 400%;
    image-rendering: pixelated;
    width: var(--tile-size);
    height: var(--tile-size);
    margin: 0;
    padding: 0;
    --tile-x: 0;
    --tile-y: 0;
    background-position: calc(var(--tile-x) * var(--n-tile-size)) calc(var(--tile-y) * var(--n-tile-size));
}

td.w {
    --tile-x: 1;
    --tile-y: 0;
}

td.n {
    --tile-x: 2;
    --tile-y: 0;
}

td.e {
    --tile-x: 3;
    --tile-y: 0;
}

td.s {
    --tile-x: 0;
    --tile-y: 1;
}

td.e.w {
    --tile-x: 1;
    --tile-y: 1;
}

td.n.s {
    --tile-x: 2;
    --tile-y: 1;
}

td.w.s {
    --tile-x: 3;
    --tile-y: 1;
}

td.w.n {
    --tile-x: 0;
    --tile-y: 2;
}

td.e.n {
    --tile-x: 1;
    --tile-y: 2;
}

td.e.s {
    --tile-x: 2;
    --tile-y: 2;
}

td.w.n.s {
    --tile-x: 3;
    --tile-y: 2;
}

td.e.w.n {
    --tile-x: 0;
    --tile-y: 3;
}

td.e.n.s {
    --tile-x: 1;
    --tile-y: 3;
}

td.e.w.s {
    --tile-x: 2;
    --tile-y: 3;
}

td.e.w.n.s {
    --tile-x: 3;
    --tile-y: 3;
}